/* other css file imports */
@import url("sections/nav.css");
@import url("sections/carasel.css");
@import url("sections/about.css");
@import url("sections/community.css");
@import url("sections/ready.css");
@import url("sections/footer.css");
@import url("sections/responsive-mobile.css");

:root {
  --inter: 'Inter', sans-serif;
  --inria: 'Inria Serif', serif;

  --dark-green: #59A030;
  --dark-grey: #151B1F;
  --light-grey: #374148;
  --light-green: #E8F7DD;
  --very-light-grey: #EDEBEB;
  --color-white: #fff;

  --website-title:6rem;

}


*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;


}

/*left and right */
.lr-margin{
  margin: 0px 10rem;
}
.lr-padding{
  padding: 0px 10rem;
}

body{
  background-color: var(--light-green);
  color: var(--dark-grey);
}

.heading-2{
  font-family: var(--inria);
  font-size: 3.5rem;
}

.p{
  font-family: var(--inter);
}

/*trying to fix image shrink to much on larger screens*/
/* @media only screen and (min-width: 1100px) {

  *{
    color:red;
  }

  .carasel__right img{
    min-width: 500px;
  }

} */

/*BUTTON ANIMATION */

.button-animation:hover{
  background: rgb(89,160,48);
  background: linear-gradient(90deg, rgba(89,160,48,1) 25%, rgba(111,186,67,1) 50%, rgba(89,160,48,1) 75%);
  animation:slidebg 4s linear infinite;
}

.button-animation:active{
  background: rgb(112, 184, 70);
 
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.follow{
  margin-top: 40px;
}

.follow a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .lr-margin{
    margin: 0px 4rem;
  }
  .lr-padding{
    padding: 0px 4px;
  }
  /* SECTION 1 carasel */
  .carasel{
    text-align: center;
    flex-wrap: wrap;
  }

  .carasel__right h2{
    font-family: var(--inria);
    font-size: 4.5rem;

  }

  .carasel__right p{
    font-family: var(--inter);
    font-size: 1.5rem;
  }

  .carasel__right{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}

