/* other css file imports */
@import url("sections/nav.css");
@import url("sections/carasel.css");
@import url("sections/about.css");
@import url("sections/community.css");
@import url("sections/ready.css");
@import url("sections/footer.css");

:root {
  --inter: 'Inter', sans-serif;
  --inria: 'Inria Serif', serif;

  --dark-green: #59A030;
  --dark-grey: #151B1F;
  --light-grey: #374148;
  --light-green: #E8F7DD;
  --very-light-grey: #EDEBEB;
  --color-white: #fff;

  --website-title:6rem;

}


*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;


}

/*left and right */
.lr-margin{
  margin: 0px 10rem;
}
.lr-padding{
  padding: 0px 10rem;
}

body{
  background-color: var(--light-green);
  color: var(--dark-grey);
}

.heading-2{
  font-family: var(--inria);
  font-size: 3.5rem;
}

.p{
  font-family: var(--inter);
}

/*trying to fix image shrink to much on larger screens*/
/* @media only screen and (min-width: 1100px) {

  *{
    color:red;
  }

  .carasel__right img{
    min-width: 500px;
  }

} */

@media only screen and (max-width: 1100px) {
  .lr-margin{
    margin: 0px 4rem;
  }
  .lr-padding{
    padding: 0px 4px;
  }
  /* SECTION 1 carasel */
  .carasel{
    text-align: center;
    flex-wrap: wrap;
  }

  .carasel__right h2{
    font-family: var(--inria);
    font-size: 4.5rem;

  }

  .carasel__right p{
    font-family: var(--inter);
    font-size: 1.5rem;
  }

  .carasel__right{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .lr-margin{
    margin: 0px 1rem;
  }
  .lr-padding{
    padding: 0px 1rem;
  }


  .heading-2{
    font-family: var(--inria);
    font-size: 3.2rem;
  }

  .p{
    font-size: .8rem;
  }


  /*NAV BAR*/
  .hamburger{
    display: block;
  }

  .nav__list li{
    color: white;
    margin: 1rem;
  }

  .nav__list__button{
    background-color: transparent !important;
    color: white!important;
    border-radius: 4px;
  }

  .nav__list__button:hover{
    background-color: transparent !important;
  }

  .nav__list li:hover{
    color: rgba(255, 255, 255, 0.5)!important;

  }

  .nav__list{
    position: fixed;
    left: -100%;
    top: 72px;
    flex-direction: column;
    background-color: var(--dark-green);
    width: 100%;
    text-align: center;
     transition: 0.3s; 

    color: var(--dark-grey);
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg) ;
  }

  .nav__list.active{
    left: 0;
  }

  /* SECTION 1 carasel */
  .carasel{
    text-align: center;
    flex-wrap: wrap;
  }

  .carasel__right h2{
    font-family: var(--inria);
    font-size: 4.2rem;
  }

  .carasel__right p{
    font-family: var(--inter);
    font-size: 1.2rem;
  }

  .carasel__right{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

    /* <!-- SECTION BLOCK 2*********--> */
  .about{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .about__left{
    min-width: 300px;
    width: 90%;
  }

  .about__left{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }

  .about__right{
    min-width: 300px;
    width: 90%;
  }

  /* <!-- SECTION BLOCK 3*********--> */
  .community__feedback{
   flex-wrap: wrap;

  }

  .community__feedback__box{

  }

  /* SECTION 4 ready */
  .ready{
    text-align: center;
    justify-content: center;
  }


/* <!-- FOOTER*********--> */
.footer{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left__list{
  flex-direction: column;
  align-items: flex-start;
}

.footer__left__list{
  margin-left: 0;

}
.footer__left__list li{
  margin: .5rem 0rem;
}

.footer__right img{
  margin-right: .5rem;
}

}