/* <!-- NAV BLOCK *********--> */
nav{
  padding-top: 1rem;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* border: 2px solid blue; */

  border-bottom: 2px var(--dark-grey) solid;
  background-color: var(--light-green);
  
  min-height: 75px;
}

.nav__header{
  font-family: var(--inria);
  font-size: 1.8rem;
  color: var(--dark-grey);
  cursor:pointer;
}

.nav__header:hover{
  color: #151b1f9f;
}

/*TOD0: WHy is flex not working how I thought???*/
.nav__list{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;

  /* border: 2px solid red; */
}


.nav__list li{
  font-family: var(--inter);

  display: inline-block;
  margin: 0 1rem;
  padding: .3rem;

  color: var(--dark-grey);

  cursor:pointer;
  transition: 0.3s ease-out;
}

.nav__list a{
  color: inherit; /* blue colors  */
  text-decoration: inherit; /* no underline */
}

.nav__list li:hover{
  color: #59A030;
  
}

.nav__list__button{
  background-color: var(--dark-green)!important;
  color: white!important;
  border-radius: 4px;
  padding: 1rem;
}

.nav__list__button:hover{
  background-color: rgba(89, 160, 48,.8)!important;
}

/*hamburger*/

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  /* -webkit-transition: all 0.3s ease; */
  transition: all 0.3s ease;
  background-color: var(--dark-grey);
}