@media only screen and (max-width: 900px) {
  .lr-margin{
    margin: 0px .5rem;
  }
  .lr-padding{
    padding: 0px .5rem;
  }


  .heading-2{
    font-family: var(--inria);
    font-size: 3.2rem;
  }

  .p{
    font-size: .8rem;
  }


  /*NAV BAR*/
  .hamburger{
    display: block;
  }

  .nav__list li{
    color: white;
    margin: 1rem;
  }

  .nav__list__button{
    background-color: transparent !important;
    color: white!important;
    border-radius: 4px;
  }

  .nav__list__button:hover{
    background-color: transparent !important;
  }

  .nav__list li:hover{
    color: rgba(255, 255, 255, 0.5)!important;

  }

  .nav__list{
    position: fixed;
    left: -100%;
    top: 72px;
    flex-direction: column;
    background-color: var(--dark-green);
    width: 100%;
    text-align: center;
     transition: 0.3s; 

    color: var(--dark-grey);
  
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg) ;
  }

  .nav__list.active{
    left: 0;
  }

  /* SECTION 1 carasel */
  .carasel{
    text-align: center;
    flex-wrap: wrap;
  }

  .carasel__right h2{
    font-family: var(--inria);
    font-size: 4.2rem;
  }

  .carasel__right p{
    font-family: var(--inter);
    font-size: 1.2rem;
  }

  .carasel__right{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

    /* <!-- SECTION BLOCK 2*********--> */
  .about{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .about__left{
    min-width: 300px;
    width: 90%;
  }

  .about__left{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }

  .about__right{
    min-width: 300px;
    width: 90%;
  }









  /* <!-- SECTION BLOCK 3*********--> */

  .community__feedback{
   position:relative;
  }

  .community__feedback__box{
    height: 19rem;

    display:none;
  }

  .community__feedback__box--selected{
   display:block;
  }

  .carousel__nav{
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom:0;
    left:0;
    text-align:center;
  }
  
  .carousel__button{
    width:20%;
    height: 10px;
    display: inline-block;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 4px; 
    margin:0 5px;
    cursor:pointer;
  }

  .carousel__button--selected {
    background: rgba(255, 255, 255, 0.9);
  }



















  /* SECTION 4 ready */
  .ready{
    text-align: center;
    justify-content: center;
  }

/* contact */
.welcome-back{

  margin:1rem 1rem!important;
  
}


.welcome-back ul{
 flex-direction: column!important;
}


/* <!-- FOOTER*********--> */
.footer{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left__list{
  flex-direction: column;
  align-items: flex-start;
}

.footer__left__list{
  margin-left: 0;

}
.footer__left__list li{
  margin: .5rem 0rem;
}

.footer__right img{
  margin-right: .5rem;
}

}